<section class="bg-header">
  <header class="container header-list">
    <div class="sidebar">
      <button class="btn-sidebar" (click)="showMenu()">
        <img
          width="30"
          src="assets/images/menu-icons/icon-burger.svg"
          alt="icon burger"
        />
      </button>
      <!-- DONE: SIDEBAR MENU -->
      <nav
        class="header-sidebar"
        [ngClass]="{ showSidebarAnimation: showSidebar }"
      >
        <ul class="sidebar-list">
          <li>
            <img
              src="assets/images/menu-icons/icon-sidebar-accessories.svg"
              alt=""
            />
            <a
              class="link-sidebar"
              [routerLink]="['/quantum/home']"
              routerLinkActive="active-link-sidebar"
            >
              Inicio
            </a>
          </li>
          <li>
            <img
              src="assets/images/menu-icons/icon-sidebar-products.svg"
              alt=""
            />
            <a
              class="link-sidebar"
              [routerLink]="['quantum/search']"
              routerLinkActive="active-link-sidebar"
            >
              Productos
            </a>
          </li>
          <li>
            <img
              src="assets/images/menu-icons/icon-sidebar-brands.svg"
              alt=""
            />
            <a
              class="link-sidebar"
              [routerLink]="['/brands']"
              routerLinkActive="active-link-sidebar"
            >
              Marcas
            </a>
          </li>
          <li>
            <img
              src="assets/images/menu-icons/icon-sidebar-accessories.svg"
              alt="icon accessories"
            />
            <a
              class="link-sidebar"
              [routerLink]="['/accesories']"
              routerLinkActive="active-link-sidebar"
            >
              Accesorios
            </a>
          </li>
          <li>
            <img src="assets/images/menu-icons/icon-user.svg" alt="icon user" />
            <a
              class="link-sidebar"
              [routerLink]="['/profile']"
              routerLinkActive="active-link-sidebar"
            >
              Mi Perfil
            </a>
          </li>
        </ul>
        <div class="auth-links">
          <a
            class="link-sidebar"
            [routerLink]="['/auth/login']"
            routerLinkActive="active-link-sidebar"
          >
            Iniciar sesión
          </a>
          /
          <a
            class="link-sidebar"
            [routerLink]="['/auth/register']"
            routerLinkActive="active-link-sidebar"
          >
            Registrarse
          </a>
        </div>
      </nav>
    </div>
    <div class="container-img">
      <img src="assets/images/logo.svg" alt="logo" />
    </div>

    <nav class="container-nav">
      <ul class="container-nav-list">
        <li>
          <a
            class="link-menu"
            [routerLink]="['/quantum/home']"
            routerLinkActive="active-nav"
          >
            Inicio
          </a>
        </li>
        <li>
          <a
            class="link-menu"
            [routerLink]="['/quantum/search']"
            routerLinkActive="active-nav"
          >
            Productos
          </a>
        </li>
        <li>
          <a
            class="link-menu"
            [routerLink]="['/brands']"
            routerLinkActive="active-nav"
          >
            Marcas
          </a>
        </li>
        <li>
          <a
            class="link-menu"
            [routerLink]="['/accesories']"
            routerLinkActive="active-nav"
          >
            Accesorios
          </a>
        </li>
      </ul>
    </nav>

    <nav class="container-menu">
      <div class="container-menu__item search-box">
        <!-- TODO: Add Search box -->
        <button class="btn-menu" (click)="showSearch()">
          <img
            src="assets/images/menu-icons/icon-search.svg"
            alt="icon search"
          />
        </button>
      </div>
      <div class="container-menu__item">
        <button class="btn-menu" [routerLink]="['/login']">
          <img src="assets/images/menu-icons/icon-user.svg" alt="icon user" />
        </button>
        <!-- TODO: ADD MENU USER -->
      </div>

      <div class="container-menu__item">
        <button class="btn-menu" id="show-cart">
          <img src="assets/images/menu-icons/icon-cart.svg" alt="icon cart" />
        </button>
        <shared-cart-modal></shared-cart-modal>
      </div>

      <!-- DONE: BTN BURGER TO RESPONSIVE DESIGN -->
    </nav>
  </header>
  <shared-search-box
    class="shared-search-box"
    [ngClass]="{ 'show-search-box': showSearchBox }"
    (keyup.esc)="hideSearch()"
  />
</section>
