<section class="container">
  <div class="row">
    <div class="details-image">
      <div class="container-img">
        <img [src]="product.img" alt="" />
      </div>
    </div>
    <div class="container-info">
      <div class="container-names">
        <h3>{{ 'Belén' }}</h3>
        <h2 class="detail-name">{{ product.name }}</h2>
      </div>
      <div class="detail-price">
        <p>{{ product.price | currency }}</p>
      </div>
      <div class="detail-actions">
        <button class="btn btn-secondary" (click)="addTodCart(product.id)">
          Agregar al carrito
        </button>
        <button class="btn btn-primary">Comprar</button>
      </div>
      <div class="datails-general">
        <div class="detail-state">
          <p>Estado: <span class="state">Disponible</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="detail-description">
      <h3>
        Acerca de <span class="game-name">{{ product.name }}</span>
      </h3>
      <p>{{ product.description }}</p>
    </div>
  </div>
</section>
