<section class="container hero">
  <div class="container-img">
    <img src="assets/images/home-img/hero.png" alt="hero image" />
  </div>
</section>

<section class="container container-category">
  <div class="category__item" *ngFor="let category of categoryList">
    <div class="category__item-img">
      <img [src]="category.urlImg" [alt]="category.title" />
    </div>
    <div class="category__item-title">
      <h3>{{ category.title }}</h3>
    </div>
  </div>
</section>

<section class="container container-premieres">
  <h2 class="title-section">Preventa</h2>
  <product-list [limit]="6" />
</section>
<section class="container container-premieres">
  <h2 class="title-section">Estrenos</h2>
  <product-list [limit]="6" />
</section>
<section class="container container-premieres">
  <h2 class="title-section">Accesorios</h2>
  <product-list [limit]="6" />
</section>
