.title {
  color: #494949;

  /* Sombra APP */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: var(--f-2);
  font-size: 2rem;
  font-weight: 600;
}

.row {
  margin: 8rem 0 3rem;
}

.subtitle {
  color: #000;

  /* Sombra APP */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: var(--f-2);
  font-size: 1.2rem;
  font-weight: 500;

  .product-length {
    color: #cf3686;
    font-family: var(--f-2);
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.container-results {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .row {
    margin: 4.8rem 0 2rem;
  }

  .subtitle {
    font-size: 1rem;
    line-height: 1.2rem;

    .product-length {
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }
}
